<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.recommendationnation</string>
	<key>connections</key>
	<dict>
		<key>07186330-631B-44E0-8CD6-963B395854AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26AD9630-2997-4059-8234-D2266F118A6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>13AB3EAF-06AA-4420-99E4-D4C43CD25E2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C31F560-0F15-468E-A7E7-5D5C9EE2A9EB</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Edit</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>309A3903-936E-4B4A-8A32-C7C3AA7EFF69</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Delete</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2DF2251E-4365-404D-A485-BC10E67E329A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>157866D9-0B98-429C-AE44-08FC66CFB7EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>198FFB03-176F-4528-8B34-950433159083</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22A116E5-E2F7-4899-B29F-B03127D2E186</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07186330-631B-44E0-8CD6-963B395854AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>94A25732-DBC7-4B76-8874-48DE057E2108</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>26AD9630-2997-4059-8234-D2266F118A6F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DF2251E-4365-404D-A485-BC10E67E329A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4C935F0-2D11-4899-B774-BD8456175DA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>309A3903-936E-4B4A-8A32-C7C3AA7EFF69</key>
		<array/>
		<key>329F9C98-5F56-4D30-AC13-770AF9675893</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B53A1CB9-27FB-4417-9F45-9DF46608177D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22A116E5-E2F7-4899-B29F-B03127D2E186</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A6935CC-17EC-4DD7-AA1D-F03575470489</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>329F9C98-5F56-4D30-AC13-770AF9675893</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>53F71156-33E8-4A62-978C-BE59461BF861</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62BD5879-500B-47BB-8E34-D89ACBC573D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1B92374-D5FB-40A4-8E11-90103AC80298</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0264073-1BE0-4227-A98D-4B196E67B77B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79F68970-AF2A-4F55-BEA1-93DFE9C469EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C31F560-0F15-468E-A7E7-5D5C9EE2A9EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0DD14FC-CB4D-4FFB-A8D4-A9E26BC7CD20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD394ED9-786A-45AE-BF8E-43D5F2D7FBCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81CBDEC1-7B58-4CC3-9C29-5EBED3663C69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B53A1CB9-27FB-4417-9F45-9DF46608177D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0264073-1BE0-4227-A98D-4B196E67B77B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1B92374-D5FB-40A4-8E11-90103AC80298</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D66C48CF-8B5A-44A9-A524-C18C6B71D1D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62BD5879-500B-47BB-8E34-D89ACBC573D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D912D9BB-9AEB-484D-AB05-13F778526AC3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E83CB8E1-2312-41E8-8E85-13844EF1082F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFBD5AFC-47AC-4160-8A83-DA8462A91DEF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0264073-1BE0-4227-A98D-4B196E67B77B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD394ED9-786A-45AE-BF8E-43D5F2D7FBCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E83CB8E1-2312-41E8-8E85-13844EF1082F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A6935CC-17EC-4DD7-AA1D-F03575470489</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B53A1CB9-27FB-4417-9F45-9DF46608177D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1B8E530-5D22-4254-85F2-EE4C8E1038BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4C935F0-2D11-4899-B774-BD8456175DA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>157866D9-0B98-429C-AE44-08FC66CFB7EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9FA801D4-E618-4624-9D40-3EC38534332A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>198FFB03-176F-4528-8B34-950433159083</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3DD7EB82-8473-415B-8095-A024F70D48E3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DFBD5AFC-47AC-4160-8A83-DA8462A91DEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>89B5DF86-E42E-4B50-BF29-E259868E3A98</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81CBDEC1-7B58-4CC3-9C29-5EBED3663C69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FE8A4F6C-F419-4C48-9A92-AC881ABBA798</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1B8E530-5D22-4254-85F2-EE4C8E1038BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2EDFE6C8-0E26-413B-B235-F0F61C20135B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79F68970-AF2A-4F55-BEA1-93DFE9C469EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F38B97D6-C035-4C4E-82FD-304C2BE7747D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D66C48CF-8B5A-44A9-A524-C18C6B71D1D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DC386B1C-190E-4CEE-9F56-D569EF20F74A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53F71156-33E8-4A62-978C-BE59461BF861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63DB98EC-8BDB-4688-8B1A-05D838A73773</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD394ED9-786A-45AE-BF8E-43D5F2D7FBCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A5DD384-A433-4E6D-8751-8AF58FCF3275</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Track recommendations of media to watch, read, play</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Recommendation Nation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly list_file="${lists_dir:-${alfred_workflow_data}}/recommendations.csv"

/usr/bin/sed -i '' "${delete_line}d" "${list_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>07186330-631B-44E0-8CD6-963B395854AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>What is it called?</string>
				<key>text</key>
				<string>Title</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly list_file="${lists_dir:-${alfred_workflow_data}}/recommendations.csv"
readonly tmp_list="$(mktemp)"

[[ -s "${list_file}" ]] || touch "${list_file}"

/usr/bin/sqlite3 \
  -csv \
  ':memory:' \
  "CREATE TABLE tmptable ('type' TEXT, 'title' TEXT, 'person' TEXT, 'reason' TEXT)" \
  '.import --csv /dev/stdin tmptable' \
  "INSERT INTO tmptable
    (type, title, person, reason)
    VALUES ('${type//'/''}', '${title//'/''}', '${person//'/''}', '${reason//'/''}')" \
  'SELECT * from tmptable' &lt; "${list_file}" &gt; "${tmp_list}"

/bin/mv "${tmp_list}" "${list_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>26AD9630-2997-4059-8234-D2266F118A6F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Movie","arg":"movie","subtitle":""},{"title":"Series","arg":"series"},{"title":"Book","arg":"book"},{"title":"Game","arg":"game"},{"title":"Anime","arg":"anime"},{"title":"Manga","arg":"manga"},{"title":"Comic","arg":"comic"},{"title":"Other","arg":"other"}]</string>
				<key>keyword</key>
				<string>{var:add_keyword}</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Add Recommendation</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>3A6935CC-17EC-4DD7-AA1D-F03575470489</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>What made it stand out?</string>
				<key>text</key>
				<string>Reason</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Who recommended it?</string>
				<key>text</key>
				<string>Recommender</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1B92374-D5FB-40A4-8E11-90103AC80298</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:delete_line}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Editing</string>
						<key>uid</key>
						<string>94A25732-DBC7-4B76-8874-48DE057E2108</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Adding</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>22A116E5-E2F7-4899-B29F-B03127D2E186</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:reason}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>person</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:title}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>329F9C98-5F56-4D30-AC13-770AF9675893</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>reason</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:person}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>62BD5879-500B-47BB-8E34-D89ACBC573D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>edit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D912D9BB-9AEB-484D-AB05-13F778526AC3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>a</string>
				<key>keycode</key>
				<integer>-1</integer>
				<key>keymod</key>
				<integer>1048576</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>5A5DD384-A433-4E6D-8751-8AF58FCF3275</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E0264073-1BE0-4227-A98D-4B196E67B77B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:type}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E83CB8E1-2312-41E8-8E85-13844EF1082F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>B53A1CB9-27FB-4417-9F45-9DF46608177D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>FD394ED9-786A-45AE-BF8E-43D5F2D7FBCD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>edit</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>B0DD14FC-CB4D-4FFB-A8D4-A9E26BC7CD20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>delete_line</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7C31F560-0F15-468E-A7E7-5D5C9EE2A9EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly list_file="${lists_dir:-${alfred_workflow_data}}/recommendations.csv"

/usr/bin/sed -i '' "${1}d" "${list_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>309A3903-936E-4B4A-8A32-C7C3AA7EFF69</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:view_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading recommendations…</string>
				<key>script</key>
				<string>readonly list_file="${lists_dir:-${alfred_workflow_data}}/recommendations.csv"

if [[ ! -s "${list_file}" ]]
then
  printf '{ "items": [{ "title": "%s", "subtitle": "%s", "valid": false }] }' \
    'No Recommendations Found' \
    "Add recommendations with the '${add_keyword}' keyword"

  exit 1
fi

/usr/bin/sqlite3 \
  ':memory:' \
  "CREATE TABLE tmptable ('type' TEXT, 'title' TEXT, 'person' TEXT, 'reason' TEXT)" \
  '.import --csv /dev/stdin tmptable' \
  "SELECT JSON_OBJECT(
    'items', JSON_GROUP_ARRAY(JSON_OBJECT(
      'variables', JSON_OBJECT(
        'type', type,
        'title', title,
        'person', person,
        'reason', reason),
      'uid', type || title,
      'title', title,
      'subtitle', UPPER(SUBSTR(type, 1, 1)) || SUBSTR(type, 2) ||
        IIF(person IS '', '', ' · ' || person) ||
        IIF(reason IS '', '', ' · ' || reason),
      'match', type || ' ' || title || ' ' || 'person',
      'arg', line)))
  AS JSON_RESULT FROM (SELECT *, ROWID AS 'line' from tmptable)" &lt; "${list_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>View Recommendations</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>13AB3EAF-06AA-4420-99E4-D4C43CD25E2E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:movie_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>157866D9-0B98-429C-AE44-08FC66CFB7EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:series_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>198FFB03-176F-4528-8B34-950433159083</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>movie</string>
						<key>outputlabel</key>
						<string>Movie</string>
						<key>uid</key>
						<string>9FA801D4-E618-4624-9D40-3EC38534332A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>series</string>
						<key>outputlabel</key>
						<string>Series</string>
						<key>uid</key>
						<string>3DD7EB82-8473-415B-8095-A024F70D48E3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>book</string>
						<key>outputlabel</key>
						<string>Book</string>
						<key>uid</key>
						<string>89B5DF86-E42E-4B50-BF29-E259868E3A98</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>game</string>
						<key>outputlabel</key>
						<string>Game</string>
						<key>uid</key>
						<string>FE8A4F6C-F419-4C48-9A92-AC881ABBA798</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>anime</string>
						<key>outputlabel</key>
						<string>Anime</string>
						<key>uid</key>
						<string>2EDFE6C8-0E26-413B-B235-F0F61C20135B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>manga</string>
						<key>outputlabel</key>
						<string>Manga</string>
						<key>uid</key>
						<string>F38B97D6-C035-4C4E-82FD-304C2BE7747D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>comic</string>
						<key>outputlabel</key>
						<string>Comic</string>
						<key>uid</key>
						<string>DC386B1C-190E-4CEE-9F56-D569EF20F74A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:type}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>other</string>
						<key>outputlabel</key>
						<string>Other</string>
						<key>uid</key>
						<string>63DB98EC-8BDB-4688-8B1A-05D838A73773</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F4C935F0-2D11-4899-B774-BD8456175DA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:book_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DFBD5AFC-47AC-4160-8A83-DA8462A91DEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:game_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81CBDEC1-7B58-4CC3-9C29-5EBED3663C69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:search_url}{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>083A0EA3-D864-48E0-BFF4-9FA492247E56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:title}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2DF2251E-4365-404D-A485-BC10E67E329A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:anime_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F1B8E530-5D22-4254-85F2-EE4C8E1038BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:manga_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>79F68970-AF2A-4F55-BEA1-93DFE9C469EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:comic_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D66C48CF-8B5A-44A9-A524-C18C6B71D1D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>search_url</key>
					<string>{var:other_search}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>53F71156-33E8-4A62-978C-BE59461BF861</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Add movies, books, games, and more to a list via the `recadd` keyword. A category and title are required, but the recommender and why it was iteresting to you are optional.

![Adding new category](images/about/addtype.png)

Search through your list with the `recview` keyword.

![Viewing recommendations](images/about/view.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open a search for the recommendation. Define preferred websites for each category in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Delete recommendation.
* &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Edit recommendation.</string>
	<key>uidata</key>
	<dict>
		<key>07186330-631B-44E0-8CD6-963B395854AE</key>
		<dict>
			<key>note</key>
			<string>Delete previous.</string>
			<key>xpos</key>
			<real>1550</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>083A0EA3-D864-48E0-BFF4-9FA492247E56</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>13AB3EAF-06AA-4420-99E4-D4C43CD25E2E</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>157866D9-0B98-429C-AE44-08FC66CFB7EA</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>198FFB03-176F-4528-8B34-950433159083</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>22A116E5-E2F7-4899-B29F-B03127D2E186</key>
		<dict>
			<key>xpos</key>
			<real>1410</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>26AD9630-2997-4059-8234-D2266F118A6F</key>
		<dict>
			<key>xpos</key>
			<real>1720</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>2DF2251E-4365-404D-A485-BC10E67E329A</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>935</real>
		</dict>
		<key>309A3903-936E-4B4A-8A32-C7C3AA7EFF69</key>
		<dict>
			<key>note</key>
			<string>Delete recommendation.</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>329F9C98-5F56-4D30-AC13-770AF9675893</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>39C016E6-A2DF-4AD7-94AF-52BA677F1AC8</key>
		<dict>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>3A6935CC-17EC-4DD7-AA1D-F03575470489</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>53F71156-33E8-4A62-978C-BE59461BF861</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1145</real>
		</dict>
		<key>5A5DD384-A433-4E6D-8751-8AF58FCF3275</key>
		<dict>
			<key>xpos</key>
			<real>1380</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>62BD5879-500B-47BB-8E34-D89ACBC573D2</key>
		<dict>
			<key>xpos</key>
			<real>770</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>79F68970-AF2A-4F55-BEA1-93DFE9C469EA</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1025</real>
		</dict>
		<key>7C31F560-0F15-468E-A7E7-5D5C9EE2A9EB</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>80E14E7C-FDDA-469C-9D2A-A03DDA3F04E6</key>
		<dict>
			<key>xpos</key>
			<real>1030</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>81CBDEC1-7B58-4CC3-9C29-5EBED3663C69</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>8CFD0664-03BF-4054-8237-4F1EBDE6CE57</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>B0DD14FC-CB4D-4FFB-A8D4-A9E26BC7CD20</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>445</real>
		</dict>
		<key>B53A1CB9-27FB-4417-9F45-9DF46608177D</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>C1B92374-D5FB-40A4-8E11-90103AC80298</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>D66C48CF-8B5A-44A9-A524-C18C6B71D1D1</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>1085</real>
		</dict>
		<key>D67B8F7C-1D60-4834-AB6A-931A63E50BB6</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>D912D9BB-9AEB-484D-AB05-13F778526AC3</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>DFBD5AFC-47AC-4160-8A83-DA8462A91DEF</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>845</real>
		</dict>
		<key>E0264073-1BE0-4227-A98D-4B196E67B77B</key>
		<dict>
			<key>xpos</key>
			<real>860</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>E83CB8E1-2312-41E8-8E85-13844EF1082F</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>F1B8E530-5D22-4254-85F2-EE4C8E1038BE</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>F4C935F0-2D11-4899-B774-BD8456175DA3</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>835</real>
		</dict>
		<key>FD394ED9-786A-45AE-BF8E-43D5F2D7FBCD</key>
		<dict>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>recadd</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Add Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>add_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>recview</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords to interact with recommendations.</string>
			<key>label</key>
			<string>View Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>view_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string>Defaults to the workflow cache folder</string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Set to sync your lists to a specific location.</string>
			<key>label</key>
			<string>Lists Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>lists_dir</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://www.imdb.com/find?q=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>IMDB</string>
						<string>https://www.imdb.com/find?q=</string>
					</array>
					<array>
						<string>Letterboxd</string>
						<string>https://letterboxd.com/search/</string>
					</array>
					<array>
						<string>Trakt</string>
						<string>https://trakt.tv/search?query=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Movies</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>movie_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://trakt.tv/search?query=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Trakt</string>
						<string>https://trakt.tv/search?query=</string>
					</array>
					<array>
						<string>TV Time</string>
						<string>https://www.tvtime.com/search?q=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Series</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>series_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://www.goodreads.com/search?query=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Goodreads</string>
						<string>https://www.goodreads.com/search?query=</string>
					</array>
					<array>
						<string>The Storygraph</string>
						<string>https://app.thestorygraph.com/browse?search_term=</string>
					</array>
					<array>
						<string>Hardcover</string>
						<string>https://hardcover.app/search?q=</string>
					</array>
					<array>
						<string>LibraryThing</string>
						<string>https://www.librarything.com/search.php?search=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Books</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>book_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://www.igdb.com/search?q=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>IGDB</string>
						<string>https://www.igdb.com/search?q=</string>
					</array>
					<array>
						<string>IGN</string>
						<string>http://www.ign.com/search?q=</string>
					</array>
					<array>
						<string>GameSpot</string>
						<string>https://www.gamespot.com/search/?q=</string>
					</array>
					<array>
						<string>GameFAQs</string>
						<string>https://gamefaqs.gamespot.com/search?game=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Games</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>game_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://anilist.co/search/anime?search=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>AniList</string>
						<string>https://anilist.co/search/anime?search=</string>
					</array>
					<array>
						<string>MyAnimeList</string>
						<string>https://myanimelist.net/anime.php?q=</string>
					</array>
					<array>
						<string>Anime-Planet</string>
						<string>https://www.anime-planet.com/anime/all?name=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Anime</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>anime_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://anilist.co/search/manga?search=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>AniList</string>
						<string>https://anilist.co/search/manga?search=</string>
					</array>
					<array>
						<string>MyAnimeList</string>
						<string>https://myanimelist.net/manga.php?q=</string>
					</array>
					<array>
						<string>Goodreads</string>
						<string>https://www.goodreads.com/search?query=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Manga</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>manga_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://leagueofcomicgeeks.com/search?keyword=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>League of Comic Geeks</string>
						<string>https://leagueofcomicgeeks.com/search?keyword=</string>
					</array>
					<array>
						<string>Comic Vine</string>
						<string>https://comicvine.gamespot.com/search/?q=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Comics</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>comic_search</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://www.google.com/search?q=</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Google</string>
						<string>https://www.google.com/search?q=</string>
					</array>
					<array>
						<string>DuckDuckGo</string>
						<string>https://duckduckgo.com/?q=</string>
					</array>
					<array>
						<string>Brave Search</string>
						<string>https://search.brave.com/search?q=</string>
					</array>
					<array>
						<string>Ecosia</string>
						<string>https://www.ecosia.org/search?q=</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Websites to search recommendations.</string>
			<key>label</key>
			<string>Other</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>other_search</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/recommendation-nation-workflow/</string>
</dict>
</plist>
